html, body {
    overflow:hidden;
    height:100%;
    width: 100%;
  }
body
{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    position: sticky;
}

@font-face {
    font-family: "Traffolight";
    src: url("/fonts/Traffolight.otf");
}

main {
    height: 100%;
    width: 100%;
}

/*----------------Navbar------------------*/

header
{
    position: absolute;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    height: 12.5%;
}

#Saved_Button1
{
    position: absolute;
    top: 22%;
    left: 4%;
    background-color: transparent;
    border: none;
    width: 14vw;
}
#Saved_Button1 img {
    width: 100%;
    height: 100%;
}

header p
{
    position: absolute;
    margin: 0%;
    padding: 1%;
    top: 20%;
    left: 31%;
    font-size: 10vw;
    font-weight: 1000;
    font-family: 'Comfortaa', cursive;
    background: -webkit-linear-gradient(#70d33f, #4bd593);
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Saved_Button1 img
{
    width: 100%;
    height: 100%;
}

/*-------------FOOD_WINDOW-------------*/

#foodWindow
{
    top: 12.5%;
    position: absolute;
    width: 100%;
    height: 67.5%;
}

/*-------------TITLE_WINDOW-------------*/

#titleWindow
{
    top: 82%;
    position: absolute;
    height: 20%;
    background-color: #ffffff;
    width: 100%;
}

#titleWindow h1
{
    font-size: 7vw;
    font-weight: 550;
    font-family: 'Comfortaa', cursive;
    color: rgb(29, 29, 29);
}

#titleWindow p
{
    font-size: 5.5vw;
    font-weight: 100;
    font-family: Traffolight;
    color: rgb(167, 167, 167);
}

/*-------------SlideInWindowFromTop-------------*/

#savedFoodWindow
{
    background-color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    top: -150%;

    /*------------------*/
    visibility: visible;
    transition: transform 1s ease-in-out;
}

#savedFoodWindow.down {
    transform: translateY(150%);
}

#Saved_Button2
{
    position: absolute;
    top: 90%;
    left: 4%;
    background-color: transparent;
    border: none;
    width: 14vw;
}

#Saved_Button2 img
{
    width: 100%;
    height: 100%;
}

#savedFoodWindow p
{
    position: absolute;
    margin: 0%;
    padding: 1%;
    top: 89.5%;
    left: 31%;
    font-size: 10vw;
    font-weight: 1000;
    font-family: Traffolight;
    background: -webkit-linear-gradient(#70d33f, #4bd593);
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*--gallery--*/

#savedImages
{
    position: absolute;
    background: -webkit-linear-gradient(#70d33f, #4bd593);
    width:90%;
    height: 85%;
    top: 2.5%;
    left: 5%;
    padding: 4%;
    border-radius: 4%;

    overflow-y: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(20, auto);
    grid-gap: 2% 3%;
}

.galleryImg
{
    grid-row: span 1;
}

.galleryImg img
{
    border-radius: 10%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*--------Detail Window-----*/

#foodDetailWindow
{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    top: 150%;

    /*------------------*/
    visibility: visible;
    transition: transform 1s ease-in-out;
}

#foodDetailWindow.up {
    transform: translateY(-150%);
}

#foodPicture
{
    position: absolute;
    top: 7%;
    background-color: transparent;
    border: none;
    height: 34%;
    width: 85%;
    left: 7.5%;
    object-fit: fill;
    border-radius: 8% 8% 0% 0%;
}

#arrowButton
{
    position: absolute;
    top: 0.2%;
    left: 42%;
    background-color: transparent;
    border: none;
    width: 15vw;
}
#arrowButton img {
    width: 100%;
    height: 100%;
}

#urlButton
{
    position: absolute;
    top: 32%;
    left: 76%;
    background: -webkit-linear-gradient(#70d33f, #4bd593);
    border-radius: 15%;
    width: 13vw;
    height: 13vw;
    z-index: 8;
}

#buttonImg
{
    width: 100%;
    height: 100%;
}

#foodList
{
    background-color: #e4e4e4;
    position: absolute;
    top: 41%;
    left: 7.5%;
    font-family: 'Comfortaa', cursive;
    width: 85%;
    height: 54%;
    border-radius: 0% 0% 3% 3%;
    overflow-y: auto;
}



#foodList h2
{
    font-size: 9vw;
    margin: 4% auto 4% 6%;
}

#foodList p, dl
{
    font-size: 5vw;
    margin: auto auto 7% 7%;
}

#foodList dd
{
    font-family: 'Comfortaa', cursive;
    font-size: 2vw;
    margin: auto 8% 5% 5%;
}
