@media only screen and (min-width: 900px) {
    body {
        overflow-y: visible;
    }
    main {
        height: 200vh;
        display: flex;
        flex-flow: column nowrap;
    }
    header {
        position: relative;
    }
    div#foodWindow {
        position: relative;

    }
    div#titleWindow {
        position: relative;

    }
    #foodDetailWindow
    {
        display: none;
    }
    #foodDetailWindow.up {
        display: block;
    }
}